:root {
    --red: crimson;
    --yellow: gold;
    --green: yellowgreen;
}

*{
    box-sizing: border-box;
    /* 크기 계산의 기준을 contents -> border
    border box: margin을 포함한 크기로 전체 크기를 계산한다.
    content box: content의 크기만으로 전체 크기를 계산한다. */
    margin: 0;
    padding: 0;
}