.grid-container {
    display: grid;
    grid-template-columns: 80px repeat(5, 1fr);
}

.grid-item {
    border: 1px solid black;
}

.grid-item:nth-child(9) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

.grid-item:nth-child(11) {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 6;
}

.grid-item:nth-child(18) {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid-item:nth-child(20) {
    grid-area: 4 / 4 / 6 / 5;
    /* row : 4 / 5, column : 4 / 6 */
}

.grid-item:nth-child(31) {
    grid-area: 6 / 5 / 8 / 6;
}

.grid-item:nth-child(32) {
    grid-area: 6 / 6 / 8 / 7;
}

.grid-item:nth-child(35) {
    grid-area: 7 / 3 / 9 / 4;
}

.grid-item:nth-child(36) {
    grid-area: 7 / 4 / 9 / 5;
}