h1 {
    text-align: center;
    padding: 20px;
    max-width: 600px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    max-width: 600px;
    height: 400px;
    font-size: 1.2rem;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;

}

.days-of-the-week {
    color: #aaa;
}

/* .grid-item:nth-child(8) {
    grid-column-start: 5;
} */

.first {
    grid-column-start: 5;
}