* {
    border: 1px solid bisque;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
        "header     header"
        "nav        nav"
        "main       sidebar";

}

.nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

footer {
    display: none;
}

header {
    grid-area: header;
}