/* 우선순위: TAG < class < id <<< !important */
/* 우선순위: 같은 급일 때는 위 < 아래 쓴 코드 */
li {
    color: teal;
}
.korea {
    color: crimson !important;
}
.incheon {
    color:orange;
}
#leader {
    color: violet;
}
