/* 우선순위: 포괄 < 구체 */
/* 우선순위: TAG < class < id <<< !important */
/* 우선순위: 같은 급일 때는 위 < 아래 쓴 코드 */
body > li {
  /* > : 자식, 띄어쓰기 : 자손 */
  color: teal;
}

body > ul > ul:nth-child(2) {
  /* 찾는 요소 우클릭 > 검사 > 개발자도구 > 우클릭 > Copy > Copy selector */
  background-color: rgb(248, 191, 219);
}

.incheon {
  color: orange;
}
.korea,
h6 {
  /*콤마 : 함께 */
  color: crimson;
}
#leader {
  color: violet;
}
li:nth-chi(1) {
  /* 1부터 시작 */
  text-decoration: underline;
}
h2 + h3 {
  /* h2 형제 중 첫번째 h3 */
  background-color: skyblue;
}
h2 ~ h3 {
  /* h2 형제 중 여러 h3 */
  font-size: 40px;
}
