/* nav */
.container {
    margin-left: 0.875rem;
    margin-right: 0.875rem;
}

header {
    background-color: var(--first-color);
    position: fixed;
    /* header 위치 고정 스크롤해도 안움직임 */
    left: 0;
    right: 0;
    top: 0;
}

nav {
    height: 2.75rem;
    display: flex;
    /* 기본값: 수평 방향 */
    justify-content: space-between;
    /* 양쪽정렬 */
    align-items: center;
    /* 교차축 가운데 */
}

nav i {
    color: #fff;
    font-size: var(--h3-font-size);
    /* 아이콘 좀 크게 */
}

.nav-link {
    color: #fff;
}

.nav-toggle {
    display: none;
    /* 안 보이게 */
}

.nav-list {
    display: flex;
    /* 기본값: 수평 방향 */
    column-gap: 1.25rem;
    /* 20px */
}

/* tablet */
@media screen and (max-width: 600px) {

    /* width가 600px 이하면 아래 css 적용 */
    .nav-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        /* 위치 무시, 로고 가운데 정렬을 위함 */
    }

    .nav-list {
        position: absolute;
        top: 44px;
        left: 0;
        right: 0;
        flex-direction: column;
        background-color: lightgrey;
        height: 0;
        overflow: hidden;
        transition: .2s;
    }

    .nav-item {
        padding: 0.5rem 1rem;
        /* 위 오 아 왼 */
        text-align: center;
        /* 가운데 정렬 */
        border-bottom: 1px solid white;
        /* 아래 선 */
    }

    .nav-link {
        display: block;
        /* 링크의 너비: 컨텐츠 -> nav-item 만큼 늘리자 */
        color: var(--title-color);
    }

    .nav-logo {
        margin: auto auto;
        /* 로고 가운데 정렬. 양 옆 공간에 같은 공간을 주는 것은 auto */
    }

    .show-menu {
        height: 164px;
    }
}